@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}
  
@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}

.box {
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(102, 105, 105);
    margin: 0;
}

html,body {
    margin: 20px;
    padding:0;
}

#roblox-username-submit {
    position:relative; 
    top:2px;
}

#user-info {
    border: 1px solid rgba(184, 184, 184, 0.548);
}

#loading-spinner {
    position: relative;
    bottom: 45px;
    left: 180px
}

#license {
    position: fixed;
    bottom: 10px;
}



